# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  skip: [prettier] # pre-commit.ci can't install the additional_dependencies, so will fail while trying to load prettier-plugin-jinja-template.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.8.0
          - prettier-plugin-jinja-template
