{% extends "base.html" %}
{% block title %}
  PUDL Viewer - page not found
{% endblock %}
{% block content %}
  <div class="section">
    <div class="container is-max-desktop">
      <div class="block title">Page not found</div>
      <div class="content">
        <p>Uh oh! The URL you requested wasn't found. Sorry!</p>
        <p>
          We're in the process of migrating our old data portal website to this
          one, so this may be a temporary situation.
        </p>
        <p>
          In any case, you may want to <a href="/">go back to the home page</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
