<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <script
      type="module"
      src="{{ url_for('static', filename='preview.js') }}"
    ></script>
    {% block extra_head %}{% endblock %}
    <title>{% block title %}PUDL Data Viewer{% endblock %}</title>
  </head>

  <body>
    <div class="full-app is-flex is-flex-direction-column">
      {% include 'partials/navbar.html' %}

      {% if not session.get('beta_notification_dismissed') %}
        <div
          class="container is-fluid"
          hx-post="/dismiss-notification"
          hx-swap="outerHTML"
          hx-trigger="click from:.delete"
        >
          <div class="notification has-background-info has-text-dark my-3">
            Welcome! The PUDL data viewer is in beta right now. We filmed a
            short
            <a class="inline" href="https://youtu.be/-mU7QwAZY8c"
              >tutorial video</a
            >, and would love any
            <a class="is-inline" href="https://forms.gle/ohzyKRoQutqxY3WZ6"
              >feedback</a
            >
            you have for the site!
            <button class="delete"></button>
          </div>
        </div>
      {% endif %}

      <main id="main-content">
        {% block content %}
        {% endblock %}
      </main>
    </div>
  </body>
</html>
