{% extends "base.html" %}

{% block title %}{{ example.title }} - PUDL Data Viewer{% endblock %}

{% block extra_head %}
  <style>
    /*
     * Make example iframe take up the whole page underneath the navbar.
     */

    #main-content {
      flex: 1;
      display: flex;
    }

    .example-iframe {
      flex: 1;
      width: 100%;
      height: 100%;
    }
  </style>
{% endblock %}

{% block content %}
  <iframe
    src="{{ hosted_url }}"
    title="{{ example.title }}"
    class="example-iframe"
  ></iframe>
{% endblock %}
