{% extends "base.html" %}

{% block title %}Example Gallery - PUDL Data Viewer{% endblock %}

{% block content %}
  <section class="section pt-0">
    <div class="container">
      <h1 class="title">Example Gallery</h1>
      <div
        class="fixed-grid has-1-cols-mobile has-2-cols-tablet has-3-cols-desktop"
      >
        <div class="grid">
          {% for example in examples %}
            <div class="cell">
              <div class="card">
                <div class="card-content">
                  <h2 class="title is-5">{{ example.title }}</h2>
                  <p class="content">{{ example.description }}</p>
                </div>
                <footer class="card-footer">
                  <a
                    class="card-footer-item"
                    href="{{ url_for('example', slug=example.slug) }}"
                    >Open example</a
                  >
                </footer>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
