<!--
Four components:
* title/package
* selector
* preview/download buttons (responsive to login state + partition selector)
* description (expanded)

But really the same as search_partitioned,
just with an expanded column section in the description.
-->

{% extends "base.html" %}
{% block title %}
  {{ resource.name }}
  - PUDL Data Viewer
{% endblock %}
{% block content %}
  <div class="container is-fluid">
    <div data-testid="{{ resource.name }}">
      {% set open = True %}
      {% include 'partials/metadata_card/search_partitioned.html' %}
    </div>
  </div>
{% endblock %}
