{% extends "base.html" %}
{% block extra_head %}
  <script
    type="module"
    src="{{ url_for('static', filename='search.js') }}"
  ></script>
{% endblock %}
{% block content %}
  <div class="columns container is-fluid is-flex-grow-1">
    <div class="data-dictionary column my-3 is-flex is-flex-direction-column">
      <div
        class="search-autocomplete-container block"
        id="search-autocomplete-container"
      >
        <input
          class="input is-medium"
          type="text"
          name="q"
          autocomplete="off"
          placeholder="Search..."
          {%
            if
            query
          %}
            value="{{ query }}"
          {% endif %}
        />
        <div
          class="search-autocomplete-menu is-hidden"
          id="search-autocomplete"
        ></div>
      </div>
      <div class="data-dictionary is-flex-grow-1" id="search-results">
        {% include 'partials/search_results.html' %}
      </div>
    </div>
  </div>
{% endblock %}
