{% extends "base.html" %}

{% block title %}PUDL Viewer - Welcome!{% endblock %}

{% block content %}

<div class="section">
  <div class="container is-max-desktop">
    <div class="block title">
      Welcome to PUDL!
    </div>
    <div class="content">
      The Public Utility Data Liberation (PUDL) project takes publicly <em>available</em>
      US energy data and makes it publicly <em>accessible</em>. PUDL is a free and open
      source project managed and maintained by <a href="https://catalyst.coop/">Catalyst Cooperative</a>.
    </div>
    <section class="block" id="find-data">
        {% include 'partials/welcome_browseby.html' %}
    </section>
    <section class="content">
      <h3 class="title">Can't find what you are looking for?</h3>
      <p><a href="mailto:hello@catalyst.coop">Contact us!</a></p>
    </section>
    <section class="content" id="naming-conventions">
        {% include 'partials/welcome_naming.html' %}
    </section>
    <section class="content" id="data-standards">
        {% include 'partials/welcome_standards.html' %}
    </section>
    <section class="content" id="data-access">
        {% include 'partials/welcome_access.html' %}
    </section>
  </div>
</div>

{% endblock %}
