{# stub for site-wide campaign banner #}
{% if not session.get('campaign_notification_dismissed') %}
  <div
    class="banner container is-fluid"
    hx-post="/dismiss-notification/campaign"
    hx-swap="outerHTML"
    hx-trigger="click from:#campaign-dismiss"
    id="campaign-notification"
  >
    <div class="message is-link my-3">
      <div class="message-header">
        <p>stub header</p>
        <button
          class="delete"
          aria-label="delete"
          id="campaign-dismiss"
        ></button>
      </div>
      <div class="message-body">
        <p>stub content</p>
      </div>
    </div>
  </div>
{% endif %}
