
      {% if not session.get('campaign_notification_dismissed') %}
        <div
          class="container is-fluid"
          hx-post="/dismiss-notification/campaign"
          hx-swap="outerHTML"
          hx-trigger="click from:#campaign-dismiss"
          id="campaign-notification"
        >
          <div class="message is-link my-3">
            <div class="message-header">
                <p>The 2026 Energy Data Ecosystem Survey is now online!</p>
                <button class="delete" aria-label="delete" id="campaign-dismiss"></button>
            </div>
            <div class="message-body">
                <p>We know working with energy data often requires fussing with
                formats, typos, and edge cases, and we want to help you spend less
                time cleaning and more time studying the parts of the energy system
                that matter to you.</p>
                <p class="my-3">You can help us by sharing the type of work you do, what's important
                to you, and how you collaborate.</p>
                <p class="has-text-centered">
                <a class="button mb-3 is-link is-outline" href="https://forms.gle/E9ou5fgMcR7YVRCRA">Take the survey!</a>
                </p>
            </div>
          </div>
        </div>
      {% endif %}
