<form class="block" action="/privacy-settings" method="POST">
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input
          type="checkbox"
          name="accept_privacy_policy"
          {{ "checked" if current_user.accepted_privacy_policy }}
        />
        <span class="has-text-danger">*</span> I accept the terms of this privacy policy.
      </label>
    </div>
    <div class="control">
      <label class="checkbox">
        <input
          type="checkbox"
          name="do_individual_outreach"
          {{ "checked" if current_user.do_individual_outreach }}
        />
        (optional) I would be OK with you reaching out to me based on my individual usage history.
      </label>
    </div>
  </div>
  {% if redirect %}
    <input type="hidden" name="redirect" value={{ redirect }} />
  {% endif %}
  <div class="field">
    <div class="control">
      <input
        class="button is-primary"
        type="submit"
        value="Save"
      />
    </div>
  </div>
</form>
