<div class="block">
  {% if current_user.is_authenticated %}
    <a
      class="button is-primary preview-button"
      href="/preview/{{ r.package }}/{{ r.name }}?return_q={{ request.args.get('q', '') }}"
      >Preview / export as CSV</a
    >
  {% else %}
    <a
      class="button is-primary preview-button"
      href="/login?next_url={{ url_for(request.endpoint, **request.args) }}"
      >Log in or sign up to preview / export as CSV</a
    >
  {% endif %}
  <a
    class="button is-link is-light"
    href="https://s3.us-west-2.amazonaws.com/pudl.catalyst.coop/nightly/{{ r.name }}.parquet"
    >Download full table as Parquet</a
  >
</div>
