<p>We have curated a few clusters of tables for topics we know PUDL users care about.</p>
        <ul>
          <li>Generation Plant operations<ul>
            <li>Monthly & yearly out gens tables</li>
            <li>All plants out ferc1 table</li>
          </ul></li>
          <li>Emissions<ul>
            <li>CEMS + emissions equipment</li>
          </ul></li>
          <li>Rate base & utility finance<ul>
            <li>Rate base table & many of the ferc1 tables</li>
          </ul></li>
          <li>Demand<ul>
            <li>714 & 930 tables</li>
          </ul></li>
          <li>Renewables<ul>
            <li>VCERARE + the 923 tables</li>
          </ul></li>
          <li>Forecasts<ul>
            <li>ATB & AEO</li>
            <li>714</li>
          </ul></li>
          <li>Utility Programs<ul>
            <li>861 tables</li>
          </ul></li>
          <li>Utility Ownership<ul>
            <li>Eia Plant ownership table</li>
          </ul></li>
          <li>Transmission<ul>
            <li>Some ferc1 tables (but also maybe note that this topic is sparse)</li>
          </ul></li>
          <li>Gas Distribution<ul>
            <li>PHMSA & 176</li>
          </ul></li>
        </ul>