<h3 class="title">PUDL data standards</h3>
<p>There is a vast amount of U.S. energy data. It is reported in a variety of
formats. Data is often reported in annual files. Data sources reporting about
the same set of infrastructure - say power plants or generators - don't always
include ways to link to other data sources. Sometimes the data originally
reported is pretty clean while sometimes the data is pretty messy 🗑️🔥. We do
our best to raise the floor on data quality while making decisions that a wide
range of users will find acceptable.</p>

<p>We aim to publish data in consistent and familiar data formats, with long
timeseries, using standardized names and codes, with reliable connections both
within and between datasets, and at as granular a level as possible. We pull in
and publish big data updates annually and quarterly, smaller ones monthly, and
make our nightly builds available so that users have access to the freshest data
that meet our standards.
</p>
