<h3 class="title">PUDL Data Standards</h3>
<p>There is a vast amount of US energy data. It is reported in a variety of
formats. Data is often reported in annual files. Data sources reporting about
the same set of infrastructure - say power plants or generators - don't always
include ways to link to other data sources. Sometimes the data originally
reported is pretty clean while sometimes the data is pretty messy 🗑️🔥. We do
our best to raise the floor on data quality while making decisions that a wide
range of users will find acceptable.</p>

<p>Whenever possible, we aim to publish data that is [some distillation of this
slide] updated frequently, is reported in consistent and familiar data formats,
has long timeseries, has codes and names standardized and as connected and
granular as possible.</p>
