<p class="content">Know the original source of the data you'd like to access? Find all the tables from each
          data source using the menu below.</p>
        <div class="columns">
          <aside class="menu column is-one-fifth">
            <ul class="menu-list">
              <li><a class="is-active">EIA - Energy Information Administration</a>
                <ul>
                  <li><a class="is-active">EIA <abbr title="Annual Energy Outlook">AEO</abbr></a></li>
                  <li><a>EIA Bulk API</a></li>
                  <li><a>EIA 176</a></li>
                  <li><a>EIA 860</a></li>
                  <li><a>EIA 861</a></li>
                  <li><a>EIA 923</a></li>
                  <li><a>EIA 930</a></li>
                </ul>
              </li>
              <li><a>FERC - Federal Energy Regulatory Commision</a></li>
              <li><a>EPA - Environmental Protection Agency</a></li>
              <li><a>GridPath</a></li>
              <li><a>NREL</a></li>
              <li><a>PHMSA - Pipelines and Hazardous Materials Safety Administration</a></li>
              <li><a>SEC - U.S. Securities and Exchange Commission</a></li>
              <li><a>VCE - Vibrant Clean Energy</a></li>
              <li><a>U.S. Census</a></li>
            </ul>
          </aside>
          <div class="column">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <h4 class="title">EIA Annual Energy Outlook</h4>
                  <p>The EIA Annual Energy Outlook provides projections of future
              fuel prices, energy supply and consumption, and carbon dioxide
              emissions by sector and region.</p>
                  <p>How much text should we put here? /to what extent should we
                    avoid duplicating what's on the existing data source page?
                  </p>
                </div>
              </div>
              <div class="card-footer">
                <a href="/search?q=source:eiaaeo" class="card-footer-item">Search</a>
                <a href="https://catalystcoop-pudl.readthedocs.io/en/latest/data_sources/eiaaeo.html" class="card-footer-item">More Info</a>
              </div>
            </div>
          </div>
        </div>
