
        <p>Want to explore the most widely used PUDL tables?</p>
        <ul>
          <li>core_epacems__hourly_emissions</li>
          <li>out_eia__yearly_utilities</li>
          <li>core_eia860__scd_ownership</li>
          <li>out_eia__yearly_plants</li>
          <li>core_eia861__yearly_sales</li>
          <li>out_eia__yearly_generators</li>
          <li>core_nrelatb__yearly_projected_cost_performance</li>
          <li>core_eia860__scd_generators_energy_storage</li>
          <li>core_eiaaeo__yearly_projected_fuel_cost_in_electric_sector_by_type</li>
          <li>out_eia__monthly_generators</li>
          <li>core_eia860__scd_plants</li>
        </ul>
