<p>Want to explore the most widely used PUDL tables?</p>
<ul>
  <li><a href="/preview/pudl/out_eia__yearly_generators">out_eia__yearly_generators</a> and <a href="/preview/pudl/out_eia__monthly_generators">out_eia__monthly_generators</a></li>
  <li><a href="/preview/pudl/core_eia860__scd_plants">core_eia860__scd_plants</a></li>
  <li><a href="/preview/pudl/core_epacems__hourly_emissions">core_epacems__hourly_emissions</a></li>
  <li><a href="/preview/pudl/core_nrelatb__yearly_projected_cost_performance">core_nrelatb__yearly_projected_cost_performance</a></li>
  <li><a href="/preview/pudl/out_vcerare__hourly_available_capacity_factor">out_vcerare__hourly_available_capacity_factor</a></li>
  <li><a href="/preview/pudl/core_eiaaeo__yearly_projected_fuel_cost_in_electric_sector_by_type">core_eiaaeo__yearly_projected_fuel_cost_in_electric_sector_by_type</a></li>
  <li><a href="/preview/pudl/out_eia__yearly_utilities">out_eia__yearly_utilities</a></li>
  <li><a href="/preview/pudl/core_eia860__scd_generators_energy_storage">core_eia860__scd_generators_energy_storage</a></li>
  <li><a href="/preview/pudl/core_eia930__hourly_interchange">core_eia930__hourly_interchange</a></li>
  <li><a href="/preview/pudl/out_eia923__fuel_receipts_costs">out_eia923__fuel_receipts_costs</a></li>
  <li><a href="/preview/pudl/out_ferc714__hourly_planning_area_demand">out_ferc714__hourly_planning_area_demand</a></li>
  <li><a href="/preview/pudl/core_nrelatb__yearly_projected_financial_cases_by_scenario">core_nrelatb__yearly_projected_financial_cases_by_scenario</a></li>
  <li><a href="/preview/pudl/out_eia__yearly_plants">out_eia__yearly_plants</a></li>
</ul>
