name: build-deploy
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build_deploy:
    name: Build eel hole image, push to Artifact Registry, and re-deploy service.
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Authenticate to Google Cloud
        id: "auth"
        uses: "google-github-actions/auth@v2"
        with:
          token_format: "access_token"
          workload_identity_provider: "projects/345950277072/locations/global/workloadIdentityPools/gh-actions-pool/providers/gh-actions-provider"
          service_account: "pudl-viewer-gha@catalyst-cooperative-pudl.iam.gserviceaccount.com"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Google Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: us-east1-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}
      - name: Build image and push to Google Artifact Registry
        id: docker-build
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            "us-east1-docker.pkg.dev/catalyst-cooperative-pudl/pudl-viewer/pudl-viewer:latest"
            "us-east1-docker.pkg.dev/catalyst-cooperative-pudl/pudl-viewer/pudl-viewer:${{ github.sha }}"
      - name: Redeploy Cloud Run service
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: "pudl-viewer"
          region: us-east1
          image: "us-east1-docker.pkg.dev/catalyst-cooperative-pudl/pudl-viewer/pudl-viewer:${{ github.sha }}"
