name: integration-tests

on:
  workflow_dispatch:

jobs:
  integration_tests:
    name: Run integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
